modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["sh", "-c", "node --no-warnings deploy-esm.mjs"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5500
externalPort = 3003

[[ports]]
localPort = 54112
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 54113
externalPort = 3001

[[ports]]
localPort = 54114
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 40921500
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsx server/migrate.ts && npm run dev"
